{% extends 'base.html' %}

{% block content %}
<script>
    let inputs = document.getElementsByClassName("autocomplete")
    console.log(inputs)
    function initAutocomplete() {

            let mapOptions = {
                types: ['(cities)']
            }
            let autocompletes = []

            for (var i = 0; i < inputs.length; i++){
                var autocomplete = new google.maps.places.Autocomplete(inputs[i],mapOptions);
                autocomplete.inputId = inputs[i];
            }
          }

    </script>
    <div class="bg-lapis-lazuli w-100">
        <div class="flex flex-row justify-center">
            <div class="bg-cornsilk w-3/5 rounded py-3 mt-3">
                <h2 class="logo-font text-center text-2xl">Edit {{current_user.f_name.title() }}'s Cities</h2>
            </div>
        </div>

        <div class="mt-4 mx-4 flex flex-row justify-center w-11/12 flex-wrap ">
            {% if fav_city_weather == None %}
                <div>
                    Save a city to make edits
                </div>
            {% else %}
                {% for i in user_cities %}
                <div class="mx-3">
                    <div class="flex flex-row justify-center py-3">
                        <div class="bg-cornsilk rounded-lg p-3" id="{{ i['id'] }}">
                            <!-- update form -->
                            <!-- TODO: add gmaps places input here -->
                            <form action="/edit/{{ i['id'] }}" method="POST" id="edit-form">
                                <input id="" placeholder="{{ i['city']}}" type="text" class="autocomplete bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                                focus:ring-blue-500 focus:border-blue-500 block p-2.5 body-font" name="city_name"/>
                                <button type="submit" class="body-font mx-2 my-2 bg-princeton-orange rounded-lg text-sm px-2 py-2 shadow-md text-white">
                                    Save Edits
                                </button>
                            </form>
                            <!-- end update form -->
                            <!-- delete form -->
                            <form action="/edit/{{ i['id'] }}" method="POST" id="delete-form">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" 
                                onclick="return confirm('Are you sure you want to delete this item?')"
                                class='mx-2 my-2 body-font bg-princeton-orange focus:ring-4 focus:outline-none 
                                focus:ring-blue-300 rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center shadow-md text-white'>
                                    Delete City
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                {% endfor %}
                
            {% endif %}
        </div>
    </div>
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEjS4jEmB1nDmtnqRAuJBCc5eOvltXbOw&callback=initAutocomplete&libraries=places&v=weekly"
defer
></script>
{% endblock %}