{% extends 'base.html' %}

{% block content %}

<div>
    <p>Form Page</p>
    <div>
        <form action="{{ url_for('site.form') }}" method = "POST">
            <p>Name <input type = "text" name = "Name" /></p>
            <p>City <input type = "text" name = "City" /></p>
            <p>Country <input type = "text" name = "Country" /></p>
            <p><input type = "submit" value = "Submit" /></p>
        </form>
    </div>
</div>

<div>
    <p>Data Page</p>
    <div>
        {% for key,value in form_data.items() %}
            <h2> {{key}}</h2>
            <p> {{value}}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}