{% extends 'base.html' %}

{% block content %}
<!-- CITY SEARCH BAR FUNCTIONALITY -->
<script>
    
    let place;

    function initAutocomplete() {
            var autocomplete = new google.maps.places.Autocomplete(
              document.getElementById("autocomplete"),
              {
                types: ["(cities)"], // Restrict the search to cities only
              }
            );
            
            // Disable address and establishment predictions
            autocomplete.setFields(["address_components"]);
    
            // When a city is selected, log its details
            // THIS IS WHAT I NEED TO LINK TO A BUTTON AS OPPOSED TO ADD LISTENER
            autocomplete.addListener("place_changed", function () {
                var place = autocomplete.getPlace();
                document.getElementById("show_city").innerHTML = place['address_components'][0]['long_name'];
                const api_key = 'e5d87fd9e2a278959ee764883b7aecfc'
                let js_url = `https://api.openweathermap.org/data/2.5/weather?q=${place['address_components'][0]['long_name']}&appid=${api_key}&units=imperial`
                fetch(js_url)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('city_temp').innerText = `Temp: ${data['main']['temp']} F`;
                        document.getElementById('city_conditions').innerHTML = `Conditions: ${data['weather'][0]['description']}`;
                        document.getElementById('save_button').style.display = 'inline';
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });


          }

    </script>
    <!-- END CITY SEARCH BAR -->

<div class="bg-lapis-lazuli flex flex-row justify-center py-4">
    <div class="bg-cornsilk w-10/12 py-4 rounded">
        <div class="text-center pb-3">
            <div class="border-b-2 pb-3 mustard-border">
                <h2 class="logo-font text-3xl indigo-dye">
                    {{ current_user.f_name.title() }}'s Profile Page
                </h2>
            </div>
            <div class="flex flex-row w-full justify-center pt-3">
                <!-- input area -->
                <div class="w-5/12">
                    <label 
                        for="city_search" 
                        class="block mb-2 body-font text-gray-900">
                            Find a city
                    </label>
                    
                    <form  method="POST">
                        <!-- GOOGLE MAPS SEARCH BAR -->
                        {{ holder_dict['form'].city(id="autocomplete", placeholder="Enter a city", type="text", 
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 
                            focus:border-blue-500 block w-full p-2.5")}}

                        {{ holder_dict['form'].submit_button(class='cornsilk body-font bg-princeton-orange 
                            hover:bg-indigo-dye focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium 
                            rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center shadow-md mt-3') }}
                    </form>
                </div>
                <!-- show weather area -->
                <div class="w-5/12">
                    <div id="show_city" class="body-font">
                        Search for a city
                    </div>
                    <div id="city_temp" class="body-font">
                    </div>
                    <div id="city_conditions" class="body-font">
                    </div>
                  
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end weather area section -->

<!-- start user city section -->
    {% if holder_dict['user_daily'] != '' %}
    <div class="bg-cornsilk w-full py-4">
        <h2 class="logo-font text-center lapis-lazuli text-3xl">{{ user.query.get(current_user.id).user_city.title() }} Forecasted Weather</h2>
        <div class="flex flex-row justify-center flex-wrap">
            <div class="bg-indigo-dye m-4 p-4 rounded-xl text-center">
                <div class="border-b-2 lapis-lazuli-border pb-2">
                    <p class="cornsilk text-lg body-font">{{ holder_dict['weekdays'][holder_dict['day']] }}</p>
                </div>
                <div class="pt-2">
                    <p class="cornsilk body-font">Temp: {{ holder_dict['user_daily']['daily'][0]['temp']['day'] }}&deg; F</p>
                    <p class="cornsilk body-font">Conditions: {{ holder_dict['user_daily']['daily'][0]['weather'][0]['description'] }}</p>
                </div>
            </div>

            <div class="bg-indigo-dye m-4 p-4 rounded-xl text-center">
                <div class="border-b-2 lapis-lazuli-border pb-2">
                    <p class="cornsilk text-lg body-font">{{ holder_dict['weekdays'][holder_dict['day']+1] }}</p>
                </div>
                <div class="pt-2">
                    <p class="cornsilk body-font">Temp: {{ holder_dict['user_daily']['daily'][1]['temp']['day'] }}&deg; F</p>
                    <p class="cornsilk body-font">Conditions: {{ holder_dict['user_daily']['daily'][1]['weather'][0]['description'] }}</p>
                </div>
            </div>

            <div class="bg-indigo-dye m-4 p-4 rounded-xl text-center">
                <div class="border-b-2 lapis-lazuli-border pb-2">
                    <p class="cornsilk text-lg body-font">{{ holder_dict['weekdays'][holder_dict['day']+2] }}</p>
                </div>
                <div class="pt-2">
                    <p class="cornsilk body-font">Temp: {{ holder_dict['user_daily']['daily'][2]['temp']['day'] }}&deg; F</p>
                    <p class="cornsilk body-font">Conditions: {{ holder_dict['user_daily']['daily'][2]['weather'][0]['description'] }}</p>
                </div>
            </div>

            <div class="bg-indigo-dye m-4 p-4 rounded-xl text-center">
                <div class="border-b-2 lapis-lazuli-border pb-2">
                    <p class="cornsilk text-lg body-font">{{ holder_dict['weekdays'][holder_dict['day']+3] }}</p>
                </div>
                <div class="pt-2">
                    <p class="cornsilk body-font">Temp: {{ holder_dict['user_daily']['daily'][3]['temp']['day'] }}&deg; F</p>
                    <p class="cornsilk body-font">Conditions: {{ holder_dict['user_daily']['daily'][3]['weather'][0]['description'] }}</p>
                </div>
            </div>

            <div class="bg-indigo-dye m-4 p-4 rounded-xl text-center">
                <div class="border-b-2 lapis-lazuli-border pb-2">
                    <p class="cornsilk text-lg body-font">{{ holder_dict['weekdays'][holder_dict['day']+4] }}</p>
                </div>
                <div class="pt-2">
                    <p class="cornsilk body-font">Temp: {{ holder_dict['user_daily']['daily'][4]['temp']['day'] }}&deg; F</p>
                    <p class="cornsilk body-font">Conditions: {{ holder_dict['user_daily']['daily'][4]['weather'][0]['description'] }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- End user city section -->

    <!-- start saved cities section -->
    <!-- TODO: add option to click city and see 5 day forecast for a saved city -->
    <div class="bg-mustard w-full py-4">
    <h2 class="logo-font text-center lapis-lazuli text-3xl">Your Favorited Cities</h2>
    <div class="flex flex-row justify-center flex-wrap">
        {% if holder_dict['fav_city_weather'] == None %}
            <div class="bg-indigo-dye m-4 p-4 rounded-xl text-center">
                <div class="border-b-2 lapis-lazuli-border pb-2">
                    <p class="cornsilk text-lg">Favorite a city to see it saved here</p>
                </div>
            </div>
        {% else %}
            {% for i in holder_dict['fav_city_weather'] %}
                {% if i['name'] == Null %}
                <div class="bg-indigo-dye m-4 p-4 rounded-xl text-center max-w-xs" id="">
                    <div class="border-b-2 lapis-lazuli-border pb-2">
                        <p class="cornsilk text-lg">This city was not found.<br/>Please edit and try again</p>
                    </div>

                </div>
                {% else %}
                <div class="bg-indigo-dye m-4 p-4 rounded-xl text-center" id="{{ i['name'] }}">
                    <div class="border-b-2 lapis-lazuli-border pb-2">
                        <p class="cornsilk text-lg">{{ i['name'] }}</p>
                    </div>
                    <div class="pt-2">
                        <p class="cornsilk body-font">Temp: {{ i['main']['temp'] }}&deg; F</p>
                        <p class="cornsilk body-font">Conditions: {{ i['weather'][0]['main'] }}</p>
                    </div>
                </div>
                {% endif %}

            {% endfor %}
        {% endif %}
    </div>
    
    <div class="p-3 mt-3 flex flex-row justify-center">
        <button class='text-white body-font bg-princeton-orange focus:ring-4 focus:outline-none 
        focus:ring-blue-300 font-medium rounded-lg w-full sm:w-auto px-5 py-3 text-center shadow-md'
        onclick="window.location.href='edit.html'">
            Edit your cities
        </button>
    </div>  

    </div>
    <!-- end saved cities section -->

<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEjS4jEmB1nDmtnqRAuJBCc5eOvltXbOw&callback=initAutocomplete&libraries=places&v=weekly"
defer
></script>
{% endblock %}