{% extends 'base.html' %}

{% block content %}
<div class="bg-lapis-lazuli">
    <div class="mx-4 flex flex-col items-center">
        <div class="mt-4 bg-indigo-dye px-4 py-2 w-2/5 rounded-t-md">
            <h3 class="logo-font-bold text-white text-center text-2xl">
                Sign In
            </h3>
        </div>
        <form method="POST" class="bg-cornsilk p-3 mb-4 w-2/5 rounded-b-md">
            {{ form.hidden_tag() }}
            <div class="grid gap-6 mb-6 md:grid-cols-2">


            </div>
            <div class="mb-6">
                <label for="email" 
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white body-font">
                    Email
                </label>
                    {{ form.email (class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                    focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
                    placeholder='email')}}
            </div>

            <div class="mb-6">
                <label for="password" 
                    class="block mb-2 text-sm font-medium text-gray-900 body-font">
                        Password
                </label>
                    {{ form.password (class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                    focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
                    placeholder='password')}}
            </div> 


                {{ form.submit_button(class='text-white bg-princeton-orange focus:ring-4 focus:outline-none 
                focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 
                py-2.5 text-center') }}
        </form>
    </div>
</div>
{% endblock %}
